# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log
*.tfplan
*.terraform.lock.hcl

# Cloud9 and Eclipse
.c9/
.idea/
*.iml
*.log
.metadata/

# Git Repositories
cloudwatch_alarms_terraform/

# Eclipse specific
*.class
*.project
*.settings/
*.classpath

# Package files
*.jar
*.war
*.ear

# OS specific files
.DS_Store
Thumbs.db

# Exclude downloaded binaries
terraform_*.zip
